<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814151533678-ls19h90h4d45nq3muohd1ttlu2c4tgdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814151533678-ls19h90h4d45nq3muohd1ttlu2c4tgdb</string>
	<key>API_KEY</key>
	<string>AIzaSyD2PTt7XSnN_5bIsv8pQP1Ox11Th1Uxi5s</string>
	<key>GCM_SENDER_ID</key>
	<string>814151533678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasrocha.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>smart-shoppinglist-e71c3</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-shoppinglist-e71c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814151533678:ios:f3aa578608ba329c4f127f</string>
	<key>DATABASE_URL</key>
	<string>https://smart-shoppinglist-e71c3.firebaseio.com</string>
</dict>
</plist>